.cart-boxes{
    width: 450px;
    /* border: 2px solid black; */
    margin: 10px;
}
.product-cart-container{
    margin: 0;
    padding: 0;
}
.row{
    width: 90vw;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pricing{
    border: 2px solid black;
}