.image-container {
    width: 100%;
    height: 400px; /* Adjust height */
    background-image: url('../assets/images/backgroundImage.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
.text-area{
    color: white;
    position: relative;
    width: 80rem;
    left: 50px;
    top: 50px;
    .btn{
        background-color: #06aed8;
        color: white;
        font-weight: 700;
    }
}
.image-box{
    padding: 1rem 6rem;
}