.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 0.5rem;
}
@media (min-width: 992px) {
    .responsive-grid {
      margin-left: 15rem;
    }
}
