.user-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn-check{
    height: 2.5rem;
}
.btn-group{
    /* height: 12.5rem; */
    width: 100%;
}
/* Default button styling */
.btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

/* Hide the default radio button */
.btn-check {
    display: none;
}

/* Styling for the label when radio is checked */
.btn-check:checked + .btn {
    background-color: #005f8b;
    border-radius: 0px;
    border-color: #005f8b;
    box-shadow: 1px 1px 2px 1px rgba(85, 85, 91, 0.82); ;
    color: white;
}
.user-box{
    width: 70%;
    height: 18rem;
}
.profile-details{
    /* height: 18rem; */
    border-top: 4px solid #005f8b ;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 1px 2px 2px 1px rgba(85, 85, 91, 0.82); ;
    padding: 1.5rem;
}