.cart-boxes{
    width: 450px;
    margin: 10px;
}
.product-cart-container{
    margin: 0;
    padding: 0;
    margin: auto;
}
.row{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.pricing{
    /* padding: 1rem; */
    p{
        margin: 0;
    }
    padding-top: 2px;

}
.coupon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;

}
.text-center{
    /* border-top: 1px  solid gray; */
    border-bottom: 1px solid gray;
}

.price-category {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.price-totalAmt{
    display: flex;
    justify-content: space-between;
    border-top: 1px  solid gray;
    border-bottom: 1px solid gray;
}