.custom-offcanvas{
    width: 15rem !important ;
    margin-top: 3rem;
    /* padding: 0 2rem; */
}
.price-ranges{
    display: flex;
    margin: 0;
    justify-content: space-between;
    p{
        margin: 0;
    }
}
.offcanvas-body{
    padding: 10px 2rem;
    /* padding: 0; */
}