.product-details-container{   
    padding: 100px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;

}
.product-details-box{
    padding: 20px;
    height: 55%;
    max-width: 50rem;
    border: 2px solid black;
}
.product-image{
    object-fit: contain;
    width: 100%;
}
.book-details{
    width: 15rem;
    border: 1px solid;
    p{
        margin: 0;
    }
}
.favorite-btn{
    margin: 0.5rem 0;
    width: 95%;
}